{% extends 'layout.html' %}
{% block content %}
  <div class="container" id="page-home">
    {% for light in lights %}
      {% include 'Home/light_row.html' %}
    {% endfor %}

    <div class="row">
      <div class="col-sm-3" style="margin-bottom: 3px; margin-top: 3px;">
        <button
          style="width: 100%;"
          class="btn btn-info js-button-save-scene"
        >Save Current Settings as Scene</button>
      </div>
    </div>
  </div>

  <div id="page-scenes" class="container" style="display: none;">
    {% for scene in scenes %}
      {% include 'Home/scene_row.html' %}
    {% endfor %}
  </div>
{% endblock %}
