pre#response {
  font-size: 0.7em;
}

.toggle-response-row {
  margin: 10px 0;
}

.response-row {
  border-top: 1px solid silver;
  margin-top: 30px;
}

.loading {
  background-color: white;
  -webkit-animation: throb 0.5s linear infinite;
}

@-webkit-keyframes throb {
  50% { background-color: #ffe18f; }
  100% { background-color: #fff; }
}

.clickable {
  cursor: pointer;
}

.light-controls-type {
  /*text-align: right;*/
  margin-bottom: 5px;
}

.light-controls {
  float: right;
  width: 200px;
  border: 1px solid silver;
  padding: 5px;
  border-radius: 3px;
}

.light-control-hs {
  border: none;
  width: 100%;
}

.color-swatch {
  width: 32px;
  height: 32px;
  font-size: 1px;
  border-radius: 3px;
  float: left;
  margin-right: 5px;
  text-align: center;
  line-height: 32px;
  font-size: 1.3em;
}

.swatch-sm {
  width: 16px;
  height: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.scene-name {
  height: 32px;
  line-height: 32px;
  font-weight: bold;
}

.scene-controls {
  display: block;
  margin-top: 4px;
}

.scene-controls .row {
  margin-bottom: 5px;
}

.scene-controls .row:last-child {
  margin-bottom: 0px;
}

input[type=color] {
  width: 100%;
}

#loading {
  position: fixed;
  padding: 3px;
  z-index: 2000;
  top: 0px;
  left: 50%;
  width: 140px;
  height: 30px;
  margin-left: -70px;
  text-align: center;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #FFF3A1;
  border-left: 1px solid #D1C784;
  border-bottom: 1px solid #D1C784;
  border-right: 1px solid #D1C784;
}

div.light-row,
div.scene-row {
  padding-bottom: 5px;
  border-bottom: 1px solid silver;
  margin-bottom: 5px;
}

button.light-button,
button.scene-button {
  height: 32px;
}

div.light-name {
  font-weight: bold;
  height: 32px;
  line-height: 32px;
}

span.save-scene-name-button {
}

div.navigation {
  background-color: #efefef;
  border-bottom: 2px solid #dedede;
  margin-bottom: 10px;
}

ul.nav {
  margin: 10px 0;
}

div.light-bar {
  margin-top: 8px;
  display: table;
  table-layout: fixed;
  width: 100%;
  line-height: 10px;
}

div.light-bar > div {
  display: table-cell;
  border-right-color: white;
  border-right-width: 2px;
  border-right-style: solid;
}

div.light-bar > div:last-child {
  border-right-width: 0;
}
