<div id="light-list">
</div>

<div class="light-commands well">
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-block btn-default js-save-current">
        <span class="glyphicon glyphicon-floppy-disk"></span> Save Current as Scene
      </button>
    </div>
  </div>
</div>