<div class="container" id="navigation-bar">
  <h1>Glow</h1>
  <ul class="nav nav-pills">
    {{#.}}
      <li{{#active}} class="active"{{/active}}><a href="#{{alias}}">{{name}}</a></li>
      {{/.}}
  </ul>
</div>