<div id="scene-list">
</div>

<div class="scene-commands well">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-block btn-default js-sort">
        <span class="glyphicon glyphicon-sort"></span> Sort Scenes
      </button>
    </div>
  </div>
</div>

<p><a href="/Lamplighter.apk">Download the app</a></p>
