<div class="row">
  <div class="col-xs-5 scene-name">
    <span class="glyphicon glyphicon-menu-hamburger handle" style="display: none;"></span>
    <a href="#scene/{{id}}">{{name}}</a>
  </div>

  <div class="col-xs-7 scene-controls">
    <button
      style="float: right;"
      data-scene-id="{{id}}"
      class="btn btn-primary js-button-scene scene-button">
      <span class="glyphicon glyphicon-off"></span>
    </button>

    <div class="light-bar">
      {{#lights}}
        <div
          class="light-swatch{{^included}} hollow{{/included}}"
          {{#included}}style="background-color: {{hex}};"{{/included}}
          title="{{name}}"><div>&nbsp;</div></div>
      {{/lights}}
    </div>
  </div>
</div>